<!-- create base.css file at the end of project -->
{% load static %}

<style>
/**
* ! ======================================================================
 * ! ======================================================================
 * ! ======================================================================
 * ! ======================================================================
 


 * ! copied from porfolio.css -----override if necessary 

**/







    /**
    * ! ----         STATEMENT         ***********************************
    **/

    .mystatement {
        background: #242331;        
        background: #212529;        
        /* background: #212529a0;         */
    }

    .mystatement .mycontainer{
        display: flex;
        justify-content: space-between;
    }

    .mystatement .mycontainer a {
        color: #fff;
        cursor: pointer;
    }

    /* ======================================================================= */
       .top-intro .mycontainer{
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        padding-top: 40px;     
        padding-bottom: 40px;     
       }

       .top-intro .mycontainer .intro-details {
        padding: 0 20px;
       }
       .top-intro .mycontainer .intro-details {
       justify-self: center;
       align-self: center;
       margin: 50px 0;

       }


       .top-intro .mycontainer .intro-pankaj span:first-child{
        font-size: var(--fs-500) !important; 
        padding-bottom: 20px  !important;

       }

       .top-intro .mycontainer .intro-details p:first-child{
   
        padding: 0px 0px !important;
       }

       .top-intro .mycontainer .intro-details p{
        padding: 10px 0;
       }
    
        .top-intro .mycontainer .intro-details p span{
            color: #fff;
            font-size: var(--fs-500) !important; 

            color: #64ffda ;
            font-weight: var(--fw-bold);
            font-size: var(--fs-200);

            /* border-bottom: 2px solid #64ffda ; */

            padding: 0 10px;

        }
/* 
        .top-intro a:hover {
        
        } */

        .top-intro span {
            color: #00524f; /* ## coolor.com pallete */
        }

        .top-intro a, .top-intro span {
            color: #c9eaf7; /* ## coolor.com pallete */

            color: #64FFDA; /* ## coolor.com pallete */

        }


        .top-intro .mycontainer a {
            color: #c9eaf7; /* ## coolor.com pallete */

            color: #64FFDA; /* ## coolor.com pallete */

        }

        .top-intro .mycontainer .intro-pic {
            padding: 0 10px;

        }

        .top-intro .mycontainer .intro-pic img{
            /* max-width: 100%; */

            /* specific height of image in intro section set sn- not good practice mb- */
            width: 440px;
            height: 326px;

            box-shadow: 10px -10px 5px 0 rgba(0, 0, 0, .4);
            border-radius: 10px;
             
          

        }


    /**
    * ! ----         TOP INTRO         ***********************************
    **/

        .top-intro {
            background: var(--clr-myblue-300);
            color: #fff;
        }


        .top-intro p {
            color: #e6f1ff;
        }


        .top-intro a {
            color: #00524f;
        }

        

    /**
    * ! ----         PROJECTS       ***********************************
    **/

        .myprojects {
            background: var(--clr-primary-700);
            color: #fff;
        }

        .myprojects p {
            color: #e6f1ff;
        }

        .myprojects a {
            color: var(--clr-mygreen-400);
        }


        .myprojects span {
            color: #c9eaf7; /* ## coolor.com pallete */

            color: #64FFDA; /* ## coolor.com pallete */

        }

        .myprojects .mycontainer .myprojects-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            padding: 20px;
        }

        .myprojects .mycontainer img{
            height: 220px;
            width: 220px;
        }

        .myprojects .mycontainer img:first-child{
            height: 150px;
            width: 150px;

        }




    /**
    * ! ----        COFFEE      ***********************************
    **/


    .mycoffee  {
        background-color: #fffceb; /* ## olu */

        background-color: var(--clr-mywhite-3000);

        color: #242331; /* var */

        padding: 20px;


    }

    .mycoffee .mycontainer > p {
        font-size: 20px ;

    }

    .mycoffee .mycontainer > *:first-child{
        margin-top: 30px;
    } 

    .mycoffee .mycontainer > *:last-child {
        margin: 30px 0;
    } 

    .mycoffee .mycontainer > *:last-child a{
        background: var(--clr-myblue-1800);
        color: #fff;

      
    } 

    .mycoffee .mycontainer a{
        background: var(--clr-myblue-1800); /* #635bff*/
        background: var(--clr-mywhite-3000);

        color: var(--clr-mywhite-2000);
        color: var(--clr-myblue-1800);

        border-radius: 10px;
        padding: 0 10px;
    }



    /**
    * ! ----        COFFEE CHARITY     ***********************************
    **/
    .mycoffeecharity    {
        background: #ffa400;
    }
    .mycoffeecharity .mycontainer    {
        background: #ffa400;
    }

    /**
    * ! ==========      UTILITY CLASSES     ==============
    **/

    .mycontainer {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 30px;
        /* height: 200px; */
    }

    /**
    * ! ==========      TEXT CLASSES     ==============
    **/
    .text-center {
        text-align: center;
    }
 /**
* ! ====================================================================== 
* ! ====================================================================== 
* ! ====================================================================== 
* ! ====================================================================== 
**/

*,
*::before,
*::after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1); /* #1d2549 */
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);
  
  --clr-mygreen-300: #6fffdb; /* ## turbulent.ca */
  

  --clr-mygreen-400: #64ffda; /*for button pcsn= */

  --clr-mygreen-40000-logo: #64ffda;
  --clr-myblue-40000-logo: #112240;

  
  --clr-mygreen-3000: #ccf381; /* ## olaolu.com */


  
  
  
    --clr-mywhite-5000--font-for-dark: #87a2bf; /* ## turbulent.ca */  

  --clr-mywhite-5000: #b4becb; /* ## loru-traversy */

  --clr-mywhite-3000: #f2f4f3; /* ## olaolu.com */

  --clr-mywhite-2000: #fbfefb; /* ## olaolu.com */  


  --clr-myblue-5000--plus-font: #001328; /* ## turbulent.ca */
 
  --clr-myblue-4000:  #102F77;  /* ## infinite.com */
  --clr-myblue-3500:  #2860E0;  /* ## infinite.com */



 /* background: linear-gradient(17deg, #102F77 50%, #2860E0 100%);  ## infinite.com */

  --clr-myblue-6000: #002240; /* ## loru-traversy */

  --clr-myblue-3000: #047aed; /* ## loru-traversy */

  --clr-myblue-1800: #635bff; /* stripe.com */
  
  --clr-myblue-2000--font: #04E3FF; /* ## turbulent.ca */
    
  
  
  --clr-myblue-2500: #26B9E7; /* ## olaolu.com */
  
  --clr-myblue-2000: #6f84e6; /* ## olaolu.com */

  /* ========================================================= */
  
  --clr-myblack-6000-myblue-: #002240; /* ## loru-traversy */

  --clr-myblack-4000: #212529;  /* ## bootstrap bg-dark navbar color*/
  --clr-myblack-3000: #242331; /* ## coolors.com */

  --clr-myblack-2000: #333;  /* ## coolors.com */
  --clr-myblack-2000--text--form--transparent: #333;  /* ## loru-traversy */
  --clr-myblack-1000--border--shadow: rgba(0, 0, 0, 0.2);  /* ## loru-traversy */

  /* Extra note */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* good-- reference --applied on card --loru-traversy */


  /**
  * ? ---- ## coolors.com palletes
  **/

  --clr-myblue-300: #324061;
  --clr-myblue-200: #6781a4;
  --clr-myblue-100: #a1cbef;

  /* --------------------------------------------------- */

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: clamp(2rem, 10vw - 0.5rem, 3.25rem);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--clr-primary-700); /*#1d2549 */
    color: var(--clr-neutral-100);

    /* ## for testing color */
    /* background-color: #98aac3; */
    /* background-color: #1B3B5B; */
    /* color: #87a2bf !important ;
    font-size: 30px; */

    /* .......... */
  /* background-image: url("{% static 'images/CC-logo-16-16--final.svg' %}") ; */


    /* ... */
    /* position: relative; */
}

/* =========================================== */

/* ## trying to put logo as background image ------ error ----do later  */
body:before {
    /* ................ */
  /* content: ' '; */
  /* display: block; */

  /* ......... */
  /* position: absolute;
  left: 0;
  top: 100px; */

  /* ......... */
  /* width: 50px;
  height: 50px; */
  /* opacity: 0.5; */
  opacity: 1;

  /* background-image: url("{% static 'images/CC-logo-16-16--final.svg' %}") ; */

  /* background-repeat: no-repeat; */
  /* background-position: 50% 0;
  background-size: cover; */
}

/* =========================================== */
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  /* border: 2px solid #444; */
  height: 50px;
  width: 50px;
}


/**
*?      ====================         NAVBAR          ====================
**/

.navbar{
    background: #e6f1ff;
    background: var(--clr-mywhite-3000);
    background: var(--clr-myblue-2000); /* -------- temporary ---- delete this */

    /* ## for testing ---temporary */
    /* color: #87a2bf !important ; */
   
}

.navbar .container{
    display: flex;
    /* border: 2px solid blue; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .container .navbar-menu{
    display: flex;
    flex-direction: row;
    padding: 15px;
   
    align-items: center;
}

.navbar .container .navbar-menu img{
    padding-right: 10px;
    margin-right: 15px;
    transition: 0.1s;
    cursor: pointer;
}

.navbar .container  .navbar-menu .nav-links{
    display: flex;
    /* border: 2px dotted red; */
}

.navbar .container  .navbar-menu a:hover{
    color: var(--clr-mygreen-40000-logo);
    transition: 0.1s;
    cursor: pointer;

}
.navbar .container  .navbar-menu .nav-links a{
    padding: 15px;
    margin: 10px;

    font-weight: var(--fw-semi-bold);
    font-weight: 600;

    color: var(--clr-myblack-3000);



    
    /* ## for testing ---temporary */
    /* color: #87a2bf !important ; */
    
}

.navbar .container  .navbar-menu .nav-links a:hover{
    /* border-bottom: 2px solid var(--clr-mygreen-3000); */
    outline: 2px solid var(--clr-mygreen-40000-logo);
    transition: 0.1s;
    /* background: #ccc; */
    border-radius: 10px;
    
}

/* ......................................... */
.navbar .container .login-menu a {
    /* border: 2px solid #111; */

    /* background: var(--clr-mywhite-3000); */
    background: transparent;

    border-radius: 30px ;

    /* because of btn class commented out */    
    /* padding: 20px;  */

    padding: 8px;

    padding: 15px;
    margin: 10px;

    font-weight: var(--fw-semi-bold);
    font-weight: 600;

    color: var(--clr-myblack-3000);


    
}

.navbar .container .login-menu a:hover{
    outline: 2px solid var(--clr-mygreen-40000-logo);

    /* color: var(--clr-mygreen-40000-logo); */

    transition: 0.1s;
    /* background: #ccc; */
    cursor: pointer;

    background: transparent;

    border: transparent;
    

}

.navbar .container .login-menu a i {
    padding-right: 10px;
}

/* ......................................... */


/**
*?      ====================         HOME          ====================
**/

    .home-content p {
        background: var(--clr-myblue-300);
    }


/**
* ! ----        ****************                leisure              *******************
**/

.leisure {

    background: rgb(29,37,73);
    background: linear-gradient(180deg, rgba(29,37,73,1) 0%, rgba(50,64,97,1) 100%);

    background: rgb(29,37,73);
    background: radial-gradient(circle, rgba(29,37,73,1) 0%, rgba(50,64,97,1) 100%);
  

    background: rgb(29,37,73);
    background: linear-gradient(circle, rgba(29,37,73,1) 0%, rgba(20,26,51,1) 100%);
  
    /* height: 500px; */

    /* background-image: url('static/images/journo-laptop-1920--nu--.jpg' ) ;
    background-size: 1920px 1200px;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;


    height: 1200px; */
}

.leisure .mycontainer {
    overflow: hidden;
    position: relative;

    max-width: 100% !important;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%)
    

}


.leisure .mycontainer .demo-bg{
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 30px 0;

}

.leisure .mycontainer .frame{
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */

    grid-template-areas: 'zero zero zero' 'first second second' 'first second second' 'third third third';

    /* height: 600px; */

    position: relative;

    justify-content: center;
    align-items: center;

    padding: 20px;

    max-width: 1100px;
    margin: 30px auto;

    gap: 20px;

}

.leisure .mycontainer .frame .zero-row{
    grid-area: zero;

}
.leisure .mycontainer .frame .first-row{
    grid-area: first;
    /* border: 2px solid #333; */


    align-self: center;
    justify-self: center;
    /* border: 2px dotted var(--clr-myblue-2000--font); */

}


.leisure .mycontainer .frame .second-row{
    grid-area: second;
    /* border: 2px solid #333; */
    
    align-self: center;
    justify-self: center;
    /* border: 2px dotted var(--clr-myblue-2000--font); */
    
    box-shadow: 10px -10px 5px 0 rgba(0, 0, 0, .4);
    border-radius: 10px;
    
}


.leisure .mycontainer .frame .second-row iframe{
    border-radius: 10px;
}



.leisure .mycontainer .frame .third-row{
    grid-area: third;
    /* border: 2px solid #333; */

    align-self: center;
    justify-self: center;
    /* border: 2px dotted var(--clr-myblue-2000--font); */



}

.leisure .mycontainer .frame p{
    font-size:1rem;
    text-align: center;
}

.leisure .mycontainer .frame .first-row p{
    padding: 10px;
}

.leisure .mycontainer .frame .third-row p{
    margin: 10px;
    padding: 5px;
}

/* digital ocean background image opacity */
.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


/* ================== coffee expert ====================== */
/* flex for iframes */

.coffee-expert .mycontainer .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    
    gap: 20px;
    
    margin: 30px;
    
    
    
}

.coffee-expert .mycontainer .frame .video-frame{
    box-shadow: 10px -10px 5px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    
    
}

.coffee-expert .mycontainer .frame .video-frame iframe{
    border-radius: 10px;
    border-radius: 10px;
}

.coffee-expert .mycontainer .frame p{
    font-size:1rem;
    text-align: center;
}


/**
* ! ----        coffee-expert      ***********************************
**/





/**
*?      ====================         programming          ====================
**/
.programming .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    padding-bottom:50px;

    gap: 20px;

    /* margin: 10px; */

}
/* 
.programming .container .frame {
    margin-bottom: 60px ;
} */

.programming .container .frame p{
    font-size: 1rem;
    text-align: center;
    padding: 5px 0;
}

.programming .container .video-frame{
    box-shadow: 10px -10px 5px 0 rgba(0, 0, 0, .4);
    border-radius: 10px;
    
    
}

.programming .container .video-frame iframe{
    border-radius: 10px;
}

.programming .container p:last-child{
        margin-bottom: 20px;
}
/**
*?      ====================         UTILITY CLASSES          ====================
**/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* navbar active  mb- utility class */
.active {
    border-bottom: 2px  solid #001328;
}

/**
*?      ====================         BUTTONS          ====================
**/

.btn{
    background: var(--clr-mygreen-400);
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -4px black;
      border-radius: 10px;
    box-shadow: 5px 5px 1px 0 rgba(0, 0, 0, .4);
      border-radius: 10px;

}




</style>

