{% extends "website/base.html" %}
{% load static %}

{% block basecontent %}
<section</div> class="microsoft">
    <div class="container">
        <div class="microsoft">
            <div class="module">
                <h1 style="text-align: center;">Microsoft course on django</h1>
                <p style="text-align: center;">reading through this course help improve your fundamentals and test the water for beginners.</p>
                <hr>
                <br>
                <h2 style="text-align: center;">Create data-driven websites by using the Python framework Django
                </h2>
                <p style="color: #8afe51;">3 hr
                </p>
                <p>Learning Path
                </p>
                <p>6 Modules
                </p>
                <p>Intermediate
                </p>
                <p>Developer
                </p>
                <p>Student
                </p>
                <p>Azure
                </p>
                <p>Azure App Service
                </p>
                <p>Use Django to create data-driven websites.
                </p>
                <p>
                </p>
                <p>In this learning path, you'll use Django to:
                </p>
                <p>
                </p>
                <p>Build an app.
                </p>
                <p>Create and manage a database.
                </p>
                <br>
                <p >Set up a superuser for the admin site.
                </p>
                <p>Use templates to create dynamic HTML pages.
                </p>
                <p>Design data-driven forms.
                </p>
                <p>Prerequisites
                </p>
                <p>Intermediate knowledge of Python:
                </p>
                <p>Package management
                </p>
                <p>Inheritance and mix-ins
                </p>
                <p>Intermediate understanding of HTML and CSS
                </p>
                <p>Modules in this learning path
                </p>
            </div>
            
            
            <!-- ==========================      module      ============================= -->
            <div class="module">
            
                <p>1000 XP
                </p>
                <p>
                </p>
                <p>Get started with Django
                </p>
                <br>
                <p style="color: #8afe51;">32 min
                </p>
                <p>Module
                </p>
                <p>9 Units
                </p>
                <p>Django is one of the most popular Python web frameworks. It's especially powerful when working with a data-driven
                    application, where the main goal is to provide a front end to a database. Django comes with numerous features
                    built in to streamline the development process. In this module, we explore the benefits of Django, how to
                    install it, and how to create your first project.
                </p>
                <p>
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Introduction2 min
                </p>
                <br>
                <p style="color: #8afe51;">What is Django?2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Install Django7 min
                </p>
                <br>
                <p style="color: #8afe51;">Explore basic concepts in Django2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create your first project6 min
                </p>
                <br>
                <p style="color: #8afe51;">Understand paths and views2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create paths and views7 min
                </p>
                <br>
                <p style="color: #8afe51;">Knowledge check2 min
                </p>
                <br>
                <p style="color: #8afe51;">Summary2 min
                </p>
            </div>
            
            
                <!-- ==========================      module      ============================= -->
                <div class="module">
            
                <p>1100 XP
                </p>
                <p>
                </p>
                <p>Work with models and data in Django
                </p>
                <br>
                <p style="color: #8afe51;">20 min
                </p>
                <p>Module
                </p>
                <p>10 Units
                </p>
                <p>Django is focused on data-driven applications, so it provides its own object-relational mapper (ORM). We'll
                    explore ORM concepts and how the Django ORM works. We'll create our own models and set up the database.
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Introduction2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Set up the project and install Django2 min
                </p>
                <br>
                <p style="color: #8afe51;">Django object-relational mapper2 min
                </p>
                <br>
                <p style="color: #8afe51;">Models in Django2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create models2 min
                </p>
                <br>
                <p style="color: #8afe51;">Manage the database2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create the database schema2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Work with data2 min
                </p>
                <br>
                <p style="color: #8afe51;">Knowledge check2 min
                </p>
                <br>
                <p style="color: #8afe51;">Summary2 min
                </p>
            </div>    
            
            
                <!-- ==========================      module      ============================= -->
                <div class="module">
            
                <p>900 XP
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Work with the Django admin site
                </p>
                <br>
                <p style="color: #8afe51;">38 min
                </p>
                <p>Module
                </p>
                <p>8 Units
                </p>
                <br>
                <p style="color: #8afe51;">Probably the most popular feature of the Python framework Django is its built-in admin site, which allows
                    internal users to manage data without having to create a special utility. We'll explore how to configure users
                    to use this site and how to set up the site itself.
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Introduction to the Django admin site2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Get the starter project6 min
                </p>
                <br>
                <p style="color: #8afe51;">Permissions for the admin site4 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create users8 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Manage data8 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Manage permissions6 min
                </p>
                <br>
                <p style="color: #8afe51;">Knowledge check3 min
                </p>
                <br>
                <p style="color: #8afe51;">Summary1 min
                </p>
            </div>    
            
            
                <!-- ==========================      module      ============================= -->
                <div class="module">
            
                <p>900 XP
                </p>
                <p>
                </p>
                <p>Create views and templates in Django
                </p>
                <br>
                <p style="color: #8afe51;">38 min
                </p>
                <p>Module
                </p>
                <p>8 Units
                </p>
                <p>As with every web framework, Django has a templating engine for creating dynamic HTML. The information that the
                    user wants to access is created by this engine and presented through views. We'll explore how the engine works
                    and the process of creating views in Django.
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Introduction2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Get the starter project5 min
                </p>
                <br>
                <p style="color: #8afe51;">Get started with views6 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create views8 min
                </p>
                <br>
                <p style="color: #8afe51;">Get started with Django templates7 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Create templates6 min
                </p>
                <br>
                <p style="color: #8afe51;">Knowledge check2 min
                </p>
                <br>
                <p style="color: #8afe51;">Summary2 min
                </p>
            </div>    
            
            
                <!-- ==========================      module      ============================= -->
                <div class="module">
            
                <p>1000 XP
                </p>
                <p>
                </p>
                <p>Use generic views in Django
                </p>
                <br>
                <p style="color: #8afe51;">32 min
                </p>
                <p>Module
                </p>
                <p>9 Units
                </p>
                <p>Because Django was designed for data-driven applications, it includes numerous built-in utilities to streamline
                    the amount of code needed. One key area where Django makes a developer's life easier is by providing generic
                    views, which are prebuilt with all the necessary code to perform core operations like displaying and editing
                    data. We'll see how we can use generic views to greatly reduce the amount of code required.
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Introduction2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Set up the starter project2 min
                </p>
                <br>
                <p style="color: #8afe51;">Use generic views to display data7 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Implement generic views to display data2 min
                </p>
                <br>
                <p style="color: #8afe51;">Use generic views to edit data6 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Implement generic views to edit data2 min
                </p>
                <br>
                <p style="color: #8afe51;">Exercise - Implement django-crispy-forms7 min
                </p>
                <br>
                <p style="color: #8afe51;">Knowledge check2 min
                </p>
                <br>
                <p style="color: #8afe51;">Summary2 min
                </p>
            </div>    
            
            
                <!-- ==========================      module      ============================= -->
                <div class="module">
            
                <p>900 XP
                </p>
                <p>
                </p>
                <p>Deploy a Django application to Azure by using PostgreSQL
                </p>
                <br>
                <p style="color: #8afe51;">20 min
                </p>
                <p>Module
                </p>
                <p>8 Units
                </p>
                <p>To make your application available to the world, you need to host it somewhere. Here you'll deploy your
                    application to Azure and create a database for the data.
                </p>
                <p>
                </p>
                <br>
                <p style="color: #8afe51;">Deploy to Azure1 min
                </p>
                <br>
                <p style="color: #8afe51;">Get the starter2 min
                </p>
                <br>
                <p style="color: #8afe51;">Deployment considerations1 min
                </p>
                <br>
                <p style="color: #8afe51;">Prepare your application for deployment5 min
                </p>
                <br>
                <p style="color: #8afe51;">Deployment considerations1 min
                </p>
                <br>
                <p style="color: #8afe51;">Deploy to Azure7 min
                </p>
                <br>
                <p style="color: #8afe51;">Knowledge check2 min
                </p>
                <p>Summary1 mi
                </p> n
                </p>
            </div>   
        </div>   
    </div>
</section>

</section>

<style>
    .module {
    outline: 1px solid #444;
    padding: 20px 0;
    margin: 10px;

    }

    .module p{
        padding: 0 20px;
    }
</style>
{% endblock basecontent %}