{% extends "website/base.html" %}
{% load static %}

{% block basecontent %}

<section class="perfectdailygrind">
    <style>
        a{
            color: aqua !important  ;
        }

        p{
            padding: 10px 0;
        }
    </style>
    <div class="container">
        <p><a href="https://perfectdailygrind.com/2023/03/will-nepal-produce-more-specialty-coffee/">source: Perfect Daily Grind</a></p>
        
<p>Nepal is a small landlocked country in South Asia, which sits between India and
    Tibet. The country’s landscape is incredibly diverse, and is home to eight of
    the world’s ten largest mountains, including Mount Everest – the highest point
    on earth.</p>
<p>Primarily a tea-growing and drinking nation, coffee production is still
    relatively new to Nepal. According to the Nepalese government’s National Tea and
    Coffee Development Board (NTCDB), it was only <a
        href="https://www.teacoffee.gov.np/coffeeinfo/coffeehistory" target="_blank"
        rel="noreferrer noopener">between the 1980s and 1990s that coffee was grown
        on a commercial scale</a> in the country.</p>
<p>The NTCDB reports that <a href="https://www.teacoffee.gov.np/coffeeproduction"
        target="_blank" rel="noreferrer noopener">in the 2021/22 harvest season,
        Nepal produced 354.9 tonnes of coffee</a>. While this is a decline from the
    record 530 tonnes produced in 2018/19, production volumes have been increasing
    in recent years.</p>
<p>The country grows high-quality arabica – and there is clear potential that
    specialty coffee production could increase, too.</p>
<p><a href="https://banjaranfoodie.com/" target="_blank"
        rel="noreferrer noopener">Bhavi Patel</a> is a dairy technologist and food
    and travel writer, who has been writing extensively about the global coffee
    industry for some years now.</p>
<p>In this article, she explores the Nepalese coffee sector, the challenges that
    local farmers face, and whether the country can grow more specialty
    coffee.&nbsp;</p>
    </div>
</section>

<section>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
    <p style="color: blue;".></p>
</section>

{% endblock basecontent %}